{{#twitter}}
    {{#twitter.image}}
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:image" content="{{twitter.image}}"/>
    {{/twitter.image}}
    {{^twitter.image}}
      {{#image}}
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:image" content="{{image}}"/>
      {{/image}}
    {{/twitter.image}}
    
    {{#twitter.title}}
        <meta name="twitter:title" content="{{twitter.title}}"/>
    {{/twitter.title}}
    {{^twitter.title}}
      {{#title}}
        <meta name="twitter:title" content="{{title}}"/>
      {{/title}}
    {{/twitter.title}}
    
    {{#twitter.description}}
        <meta name="twitter:description" content="{{twitter.description}}"/>
    {{/twitter.description}}
    {{^twitter.description}}
      {{#description}}
        <meta name="twitter:description" content="{{description}}"/>
      {{/description}}
    {{/twitter.description}}
    
    {{#twitter.handle}}<meta name="twitter:site" content="{{twitter.handle}}">{{/twitter.handle}}
    
{{/twitter}}

